.notice-header {
  margin-left: 4px; font-size:14px;
}

body {
  font-family: Arial, sans-serif;
  padding: 70px 0 0 0;
}

.content-flexbox {
  display: flex;
  justify-content: center;
}

.content-container {
  max-width: 1000px;
  flex-grow: 1;
  margin: auto 0px;
}

.notice-title {
  font-size: 1.8em;
  font-weight: bold;
  margin-block-end: 14px; margin-block-start: 0px; font-size:2.5em;
}

.notice-post-date-image{
  width: 14px; height: 14px;
  margin-left: 8px;
}
.notice-post-date{
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(155, 154, 154);
  margin-right: 32px;
}

.notice-post-views{
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(155, 154, 154);
}

.notice-content {
  padding: 12px;
  min-height: 500px;
  font-size: 20px; 
}

.button-container {
  text-align: right;
  margin-top: 10px;
}

.act-button{
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block; /* 인라인 블록 요소로 설정 */
  border-radius: 5px; 
}

.act-button:hover{
  background-color: #ea2424;
}