h1 {
  margin: 100px 0 20px 180px; font-size:2.5em;
}

body {
  font-family: Arial, sans-serif;
  padding: 70px 0 0 0;
}

.detail-container {
  margin: 20px;
}

.notice-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.notice-title {
  font-size: 1.8em;
  font-weight: bold;
  color: rgb(102, 102, 102);
  margin: 0 0 20px 0;
}

.data-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 양쪽 끝 배치 */
  width: 100%; /* 부모 요소에 맞게 확장 */
  margin-top: 10px; /* 선택 사항 */
}

.notice-post_date {
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(155, 154, 154);
}

.notice-file {
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(155, 154, 154);
}


.notice-content {
  border-top: 1px solid #969696;
  padding: 30px;
  width: 100%;
  min-height: 500px;
  font-size: 20px;
}

.button-container {
  text-align: right; 
  margin-top: 10px;
}

.button-container button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block; /* 인라인 블록 요소로 설정 */
  border-radius: 5px; 
}